@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url(https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.css);
body {
  position: relative;
}
.btn-primary {
  margin: 20px 10px 10px 10px;
}
.navbar {
  background-color: #0f9499;
  
}
.btn-danger {
  margin: 20px 10px 10px 10px;
}
.btn-default {
  margin: 20px 10px 10px 10px;
}
.image-size {
  width: 15px;
  border-radius: 40%;
}

.big-image-size {
  width: 100px;
  border-radius: 30%;
  margin-top: 40px;
  padding-top:10px;
}

.text {
  font-size: 18px;
  font-family: Tahoma ;
}

#about {
  padding-top: 50px;
  height: 750px;
  color: black;
  font-family: Monospace;
  font-size: 24px;
}

#portfolio {
  height: 800px;
  padding-top: 70px;
  font-family: Monospace;
}

#contact {
  height: 380px;
  padding-top: 40px;
  background-color: #ff9;
  font-family: Monospace;
}

.none {
  list-style-type: none;
}
footer {
  background-color: pink;
}
.fa {
  padding-left:5px;
  margin-left: 5px;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #fff;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #995b0f;
}
.fa-linkedin:hover {
  background-color:#d8d2d4;
}
h6 {
  font: 400 14px/1.3 'Berkshire Swash', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}
